################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeadHornet.Web/v15/Server/sqlite3/db.lock
/.vs/LeadHornet.Web/v15/.suo
/.vs
/LeadHornet.Web/obj/Release
/LeadHornet.Web/obj/Debug
/.vs/LeadHornet.Web/v15/Server/sqlite3/storage.ide 
/.vs/LeadHornet.Web/v15/Server/sqlite3/storage.ide-wal
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp